{%include "navegacion/barra.html"%}



{%include "dise/carrusel.html"%}




<table>
    <thead>
        <tr>
            <th>nombre institucion</th>
            <th>region</th>
            <th>informacion</th>
            <th>url</th>
            <th>option</th>
        </tr>
    </thead>
    <tbody>
        {% for i in instituciones %}
            <tr>
                <td>{{ i.nombre }}</td>
                <td>{{ i.region }}</td>
                <td>{{ i.informacion }}</td>
                <td>{{ i.url }}</td>
                <td>
                    <a href="{% url 'eliminarIntitucion' i.idinstitucion %}">eliminar</a>
                    <a href="{% url 'editarInstitucion' i.idinstitucion %}">editar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>